.section {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.heading {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    margin-bottom: 4px;
}

.mobileBtn {
    margin-top: 16px;
    width: 100%;
}

@media (max-width: 970px) {
    .section {
        height: 524px;
    }

}
