.section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media (max-width: 970px) {
    .section {
        gap: 12px;
    }
}

@media (max-width: 670px) {

    .section h1 {
        font-size: 23px;
    }

    .section {
        font-size: 15px;
        margin-bottom: 4px;
    }


}