.section {
    flex-direction: row;
    gap: 24px;
}

.imageContainer {
    flex-basis: 100px;
}

.image {
    object-fit: cover;
    border-radius: var(--border-radius);
}

.heading {
    font-size: var(--h2-desktop-fontsize);
    line-height: 1.2;
    font-weight: 700;
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
}

.genreInfo {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    font-style: italic;
    margin: 0;
    padding: 0;
}

.counterContainer {
    margin-left: auto;
}


@media (max-width: 970px) {
    .imageContainer {
        max-width: 80px;
    }


    .image {
        max-width: 80px;
        max-height: 100px;
    }

    .heading {
        font-size: var(--h2-tablet-fontsize);
    }
}


@media (max-width: 670px) {
    .heading {
        font-size: var(--h2-mobile-fontsize);
    }
}