.section {
    padding: 24px;
    display: flex;
    gap: 24px;
    color: #1b1f23;
    background-color: #FFFFFF;
    border-radius: 8px;
    margin-bottom: 16px;

}

.image {
    flex-basis: 100px;
}

.textInfoContainer {

}


.heading {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
}

.genreInfo {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    font-style: italic;
    margin: 0;
    padding: 0;
}

.counterContainer {
    margin-left: auto;

}