.section {
    display: flex;
    gap: 8px;
    max-width: 68px;
}

.amountNumber {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

.count {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
}

.button {
    width: 20px;
    height: 20px;
    color: var(--color-white);
    background-color: var(--color-orange);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 970px) {
    .section {
        gap: 6px;
        align-items: center;
    }


    .amountNumber {
        font-size: 16px;
    }

    .button {
        width: 18px;
        height: 18px; 
    }
}
