.section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.msgContainer {
    max-width: 60vw;
    text-align: center;
    opacity: var(--hover-opacity);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media (max-width: 970px) {
    .msgContainer h2 {
        font-size: var(--h2-desktop-fontsize);
    }

    .msgContainer p {
        font-size: var(--p-tablet-fontsize);
    }
}

@media (max-width: 670px) {
    .msgContainer h2 {
        font-size: var(--h2-mobile-fontsize);
    }
}