* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  /* max-width: 100vw; */
  max-width: 1024px;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: var(--color-beige);
}

main {
  padding: 24px 32px;
  background-color: #F5F5F5;
}


a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
    background-color: unset;
  border: 0 solid transparent;
  padding: 0;
  margin-left: auto;
  cursor: pointer;
  transition: all .3s ease-in;
}

button:hover {
  /* opacity: .6; */
}

:root {
  --color-white: #FFFFFF;
  --color-beige: #F5F5F5;
  --color-grey: #333333;
  --color-black: #000000;
  --color-orange: #FF5500;


  --border-radius: 8px;
}
