* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 1920px;
  margin: 0 auto;
  background-color: var(--color-beige);
}

.layout {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--gray-1);
}

a {
  color: inherit;
  text-decoration: none;
  transition: opacity .3s ease-in;
}

button {
  background-color: unset;
  border: 0 solid transparent;
  padding: 0;
  cursor: pointer;
  transition: all .3s ease-in;
}

button:hover {
  opacity: .6;
}


a:hover {
  opacity: .6;
}

li {
  list-style: none;
}

:root {
  --color-white: #FFFFFF;
  --color-beige: #F5F5F5;
  --color-grey: #333333;
  --color-black: #000000;
  --color-orange: #FF5500;

  --default-desktop-paddings: 24px 32px;
  --default-tablet-paddings: 16px 18px;
  --default-mobile-paddings: 8px 12px;
  --border-radius: 8px;

  --h2-desktop-fontsize: 20px;
  --h2-tablet-fontsize: 18px;
  --h2-mobile-fontsize: 16px;
}

.no-scroll {
  overflow: hidden;
}