.section {
    box-sizing: content-box;
    min-height: calc(100lvh - 48px - 87px - 70px);
    padding: var(--default-desktop-paddings);
    position: relative;
}

.modalRoot {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

@media (max-width: 970px) {
    .section {
        min-height: calc(100lvh - 35px - 60px - 55px);
        padding: var(--default-tablet-paddings);
}
}

@media (max-width: 550px) {
    .section {
        min-height: calc(100lvh - 23px - 40px - 35px);
        padding: var(--default-mobile-paddings);
    }
}