.section {
    display: flex;
    align-items: flex-start;
    gap: 23px;
}


@media (max-width: 970px) {
    .section {
        gap: 16px;
    }
}

@media (max-width: 550px) {
    .section {
        /* padding: var(--default-mobile-paddings); */
    }
}
